*Tour starts from New York, USA and all prices are in USD($).
**Flight costs listed are one-way cost.
***If trip duration is less than 1 week, car rent will be of one entire week.
****Source of data : Internet.

City                 Flight cost                  Hotel cost per day                   Car rent per week

Paris                   522                              20                                 200

London                  418                              130                                300

Dubai                   633                              71                                 116

Mumbai                  608                              50                                 285

Venice                  931                              135                                118

Tokyo                   1012                             37                                 320

Sydney                  1047                             99                                 230

Lima                    302                              51                                 112

Honolulu                413                              500                                541

Cape Town               1139                             79                                 117

Q1. For a one week trip, in which city the total expense will be the least?

Q2. (i) If the total budget is $1000, which city to visit for maximizing the duration of the trip?
    (ii) And which city to minimize the duration of the trip?

In [ ]:
'''Given Data'''
import math
# city = ["Name", Flight, Hotel_cost_per_day, Car_rent_per_week]
city_1 = ["Paris", 522, 20, 200]
city_2 = ["London", 418, 130, 300]
city_3 = ["Dubai", 633, 71, 116]
city_4 = ["Mumbai", 608, 50, 285]
city_5  = ["Venice", 931, 135, 118]
city_6  = ["Tokyo", 1012, 37, 320]
city_7  = ["Sydney", 1047, 99, 230]
city_8  = ["Lima", 302, 51, 112]
city_9  = ["Honolulu", 413, 500, 541]
city_10  = ["Cape Town", 1139, 79, 117]

trip_duration_in_days = int(input("Enter the number of trip days : "))
total_budget = int(input("Enter the total budget in USD : "))

trip_duration = 1/(trip_duration_in_days) #(in week)

In [ ]:
'''City_1'''
expense_1 = 2 * city_1[1] + trip_duration_in_days * (city_1[2]) + math.ceil(trip_duration) * city_1[3]
print(city_1[0]+"\'s Total expense will be = $",expense_1)

In [ ]:
'''City_2'''
expense_2 = 2 * city_2[1] + trip_duration_in_days * (city_2[2]) + math.ceil(trip_duration) * city_2[3]
print(city_2[0]+"\'s Total expense will be = $",expense_2)

In [ ]:
'''City_3'''
expense_3 = 2 * city_3[1] + trip_duration_in_days * (city_3[2]) + math.ceil(trip_duration) * city_3[3]
print(city_3[0]+"\'s Total expense will be = $",expense_3)

In [ ]:
'''City_4'''
expense_4 = 2 * city_4[1] + trip_duration_in_days * (city_4[2]) + math.ceil(trip_duration) * city_4[3]
print(city_4[0]+"\'s Total expense will be = $",expense_4)

In [ ]:
'''City_5'''
expense_5 = 2 * city_5[1] + trip_duration_in_days * (city_5[2]) + math.ceil(trip_duration) * city_5[3]
print(city_5[0]+"\'s Total expense will be = $",expense_5)

In [ ]:
'''City_6'''
expense_6 = 2 * city_6[1] + trip_duration_in_days * (city_6[2]) + math.ceil(trip_duration) * city_6[3]
print(city_6[0]+"\'s Total expense will be = $",expense_6)

In [ ]:
'''City_7'''
expense_7 = 2 * city_7[1] + trip_duration_in_days * (city_7[2]) + math.ceil(trip_duration) * city_7[3]
print(city_7[0]+"\'s Total expense will be = $",expense_7)

In [ ]:
'''City_8'''
expense_8 = 2 * city_8[1] + trip_duration_in_days * (city_8[2]) + math.ceil(trip_duration) * city_8[3]
print(city_8[0]+"\'s Total expense will be = $",expense_8)

In [ ]:
'''City_9'''
expense_9 = 2 * city_9[1] + trip_duration_in_days * (city_9[2]) + math.ceil(trip_duration) * city_9[3]
print(city_9[0]+"\'s Total expense will be = $",expense_9)

In [ ]:
'''City_10'''
expense_10 = 2 * city_10[1] + trip_duration_in_days * (city_10[2]) + math.ceil(trip_duration) * city_10[3]
print(city_10[0]+"\'s Total expense will be = $",expense_10)

In [ ]:
'''Analysis'''
# Q1.
expense_dict = {expense_1:city_1[0],expense_2:city_2[0],expense_3:city_3[0],expense_4:city_4[0],expense_5:city_5[0],expense_6:city_6[0],expense_7:city_7[0],expense_8:city_8[0],expense_9:city_9[0],expense_10:city_10[0]}
expense_list = [expense_1,expense_2,expense_3,expense_4,expense_5,expense_6,expense_7,expense_8,expense_9,expense_10]
min_expense = min(expense_list)
max_expense = max(expense_list)
print("For a",trip_duration_in_days,"day trip, the least expensive city will be :",expense_dict[min_expense],"($"+str(min_expense)+")")
print("For a",trip_duration_in_days,"day trip, the most expensive city will be :",expense_dict[max_expense],"($"+str(max_expense)+")")

# Q2.
expense_list_by_budget = sorted(expense_list)
city_preference_by_budget = []
city_out_of_budget = []
for i in range(len(expense_list_by_budget)):
    if (expense_list_by_budget[i] <= total_budget):
        city_preference_by_budget.append(expense_dict[expense_list_by_budget[i]])
    else:
        city_out_of_budget.append(expense_dict[expense_list_by_budget[i]])
print("City preference according to total budget (Low to High) : ",city_preference_by_budget)
print("The cities out of budget are (Low to High) : ",city_out_of_budget)